@import "../../vars.css";

.container {
  height: 25rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}
i{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}




.description {
  margin-top: 6px;
  font-size: 24px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 300;
  background: var(--color-dark);
  padding: 7px 22px;
  margin-left: 1rem;
}

.links {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;

}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 400;
  background: var(--color-primary);
  padding: 6px 25px;
  margin-top: .5rem;
}

@media screen and (max-width: 830px) {
  .container{
    height: 28.5rem;
  }
}